@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    background: #f2f2f2;
    font-family:"Big Shoulders Display", sans-serif;
    font-style: normal;
    font-size:18px;
    line-height:28px;
    text-align: start;
    width: 100vw;
    


  }



 
  
  .hero-tablet {
    display: none;
  }
  
  .hero-desktop {
    display: none;
  }

  .grid1-tablet {
    display: none;
  }
  
  .grid1-desktop {
    display: none;
  }

  .grid2-tablet {
    display: none;
  }
  
  .grid2-desktop {
    display: none;
  }

  .grid3-tablet {
    display: none;
  }
  
  .grid3-desktop {
    display: none;
  }


  




  .top {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left:4%;
    padding-right:4%;
    
  }


  h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color:#151515;
    margin-bottom: 32px;

    


  }
  .btn-anchor{
    text-decoration: none;
   
  }


  .landing-btn {
    width: 260px;
    height: 72px;
    font-family: "Big Shoulders Display", cursive;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    cursor: pointer;
   
  }

  .reverse_button{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .btn-text {
    text-transform: uppercase;
    background: #151515;
    width: 204px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .first_text:hover + .first_icon{
  
    background:#151515;
    ;
  

  }


  .first_text:hover {
  
    background:#d5966c;
  }




  .second_text:hover {
  
    background:#d5966c;
  }

  .second_text:hover + .second_icon{
  
    background:#151515;
    ;
  

  }




  



  .btn-icon {
    background: #d5966c;
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .location-but {
    display:flex;
    flex-direction: row;
  }

  .our-location{
    background-color: #151515;
    color:#FFFFFF;
    font-weight: 800;
    font-size: 20px;
    line-height: 23.94px;
    letter-spacing: 3.63636px;
    text-transform: uppercase;
    

  }

  .right {
    background-color: #D5966C;
    width: 56px;
    height: 72px;


  }
  .right-sign {
    align-items: center;
  }


  .firstp {
    margin-bottom: 32px;
    font-size:18px;
    color: #444444;
    font-weight: 300;
    line-height: 28px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    max-width: 350px;
  
   
}
    
    

  

  .location-but {

    margin-bottom: 120px;
  }

  h2  {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  line-height: 45px;
  margin-top:25px ;


  }
  .yourd{
    color:#151515
     }
  
  .wander {
  
    margin-top:21px;
    margin-bottom: 32px;
    font-size:18px;
    color: #444444;
    font-weight: 300;
    line-height: 28px;
    font-family: Outfit;
    font-style: normal;


/*     
    margin-top:32px;
   
    letter-spacing: 0px;
    text-align: left; */

  }

  .middle {
    display: flex;
    flex-direction: column;
    padding-left:16px;
    padding-right:16px;
  

  }
  .middle-pic {
    margin-top:32px;
  }


  .text-cube-lower{
    background-color:#151515;
    color:#FFFFFF;
    padding : 48px 24px 47px 24px;
    
    
  }

  .come {
    color:#FFFFFF ;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    
    
    
  }

  .weare {
    margin-top: 24px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

  }

  .bottom-sec{
    background-color: #151515;
    margin-top: 120px;
    padding: 48px 32px 48px 32px;
  }
  
 

  .modernartgallery {
   
    
    color:#FFFFFF;
    font-weight: 800;
    font-size: 20px;
    line-height: 23.94px;
    text-transform: uppercase;
    padding-top:48px ;
    

}

.modernimage {
  margin-bottom:38px;
  width: 110px;
  height: 40px;
  }

  .modernartgal{
    max-width: 110px;
  }


  .lastp{
   
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        font-family: "Outfit", sans-serif;
        font-style: normal;
         
        
  }





.social-icons {
  display: flex;
  margin-top: 38px;
    width:100px;
  column-gap: 20px;
}


.button-loc{
  margin-bottom:120px;
}






/* location page */

.map_image {
  width: 100%;
}


.map-tablet {
  display: none;
}

.map-desktop {
  display: none;
}

.location-img {
  position: absolute;
  left: 0px;
  top: 0px;
}



.middlebox {
  background-color: #151515;
  padding-left: 16px;
  padding-right: 16px;
  padding-top:48px;
  padding-bottom:56px;
  
}


.ourloc {
  font-weight: 900;
  color:#FFFFFF;
  font-family:"Big Shoulders Display", sans-serif;
  font-size:50px;
  line-height:45px;


}

.king99 {
    margin-top: 48px;
    font-family:"Big Shoulders Display", sans-serif;
    color:#D5966C;
    font-weight: 900;
    font-size:32px;
    line-height:32px;

    


}

.adress {
  margin-top:20px;
  font-size:18px;
  color:#FFFFFF;
  font-weight: 300;
  line-height: 28px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}
.loclastpar{
  margin-top:20px;
  font-size:18px;
  color:#FFFFFF;
  font-weight: 300;
  line-height: 28px;
  font-family: "Outfit", sans-serif;
  font-style: normal;

}

.locfooter{
    background-color: #D5966C;
    padding: 48px 32px 50px 32px;
}

.loclastp {
  margin-top: 38px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #151515;
          /* max-width: 500px; */
  font-family: "Outfit", sans-serif;
  font-style: normal;

}

.social-icons_loc {
  display: flex;
  margin-top: 38px;
  width:100px;
  column-gap: 20px;
  }


.facebookwhite path{

    fill: #151515;
}
.instagramwhite path{

  fill: #151515;
}
.twitterwhite path{

  fill: #151515;
}

.facebookwhite path:hover{

  fill:#FFFFFF;
}

.instagramwhite path:hover{

  fill:#FFFFFF;
}

.twitterwhite path:hover{

  fill:#FFFFFF;
}

.facebookblack path:hover{

  fill:#D5966C;
}
.instagramblack path:hover{

  fill:#D5966C;
}
.twitterblack path:hover{

  fill:#D5966C;
}






/* Tablet version */

@media screen and (min-width:768px) {
  

  .hero-mobile {
    display: none;
  }
  
  .hero-desktop {
    display: none;
  }

  .hero-tablet{
    display: block;
  }

        .grid1-mobile {
          display: none;
        }
        
        .grid1-desktop {
          display: none;
        }

        .grid1-tablet{
          display: block;
        }

            .grid2-mobile {
              display: none;
            }
            
            .grid2-desktop {
              display: none;
            }

            .grid2-tablet{
              display: block;
            }


                  .grid3-mobile {
                    display: none;
                  }
                  
                  .grid3-desktop {
                    display: none;
                  }

                  .grid3-tablet{
                    display: block;
                  }


  .hero-container {
    position: absolute;
    left: 391px;
    top: 145px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;

 }
 

 .gallery-day {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 11px;
    
  }




  .middle{
    padding: 120px 40px 120px 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .midddd{
    display: flex;
    justify-content: space-between;
   
  }
  .grid3{
    height: 47.5%;
  }


       .text-cube-upper{
      margin-right: 45px;
      padding-top: 15px;
      }

    .yourd{
      width: 223px;
       }

       .wander{
        width: 223px;
         }


    .text-cube-lower {
      padding: 85px 28px 85px 28px;
      height: 53.2%;
      width: 280px;
      margin-top: 11px;
    }

  .middle-pic{
    margin-top: 0px;
    width: 40%;
  }



  .bottom-sec {
    display: flex;
    margin-top: 0px;
  }

  .social-icons{
    display: flex;
    align-items:flex-start;
    margin-top: 0px;
     margin-left: 133px;
 }
  





 







  /* Tablet Location Page */

.map-tablet{
    display: block;
  }

.map-mobile {
  display: none;
}

.map-desktop {
  display: none;
}

.location-img {
  position: absolute;
  left: 7%;
  top: 0px;
}

.middlebox{
  display: flex;

}

.ourloc {
  margin-right: 68px;
}

.king99 {
  margin-top: 0px;
}


.locfooter{
  display: flex;
  padding: 56px 40px 56px 40px;
}


.middlebox {
  display: flex;
  flex-direction: row;
  padding : 88px 40px 80px 39px;


}


.logo {
  width:110px ;
  height: 40px;
  margin-right: 65px;
}
.loclastp{
  margin-top: 0px;
  
}
.social-icons_loc{
  margin-top: 0px;

}

}












/* Desktop version */

@media screen and (min-width:1440px) {



  .hero-mobile {
    display: none;
  }
  
  .hero-tablet {
    display: none;
  }
  .hero-desktop{
    display: block;
  }

      .grid1-mobile {
        display: none;
      }
      
      .grid1-desktop {
        display: block;
      }

      .grid1-tablet{
        display: none;
      }

            .grid2-mobile {
              display: none;
            }
            
            .grid2-desktop {
              display: block;
              margin-right: 30px;
            }

            .grid2-tablet{
              display: none;
            }

                .grid3-mobile {
                  display: none;
                }
                
                .grid3-desktop {
                  display: block;
                }

                .grid3-tablet{
                  display: none;
                }



                
    h1{

      margin: 0px;
      font-size: 96px;
    line-height: 88px;
      position: absolute;
      right: 670px;
      top: 240px;
    }

    .firstp {
           font-size:22px;
            line-height: 32px;
           width: 350px;
      }
 


   

  .mainimg_rectangle {
    background-color: #151515;
    display: flex;
    justify-content: end;
    /* mix-blend-mode: difference; */
    width: 75%;
    height: 100vh;
  
   }
  
   /* .main_img {
    width: 60%;
    display: block;
    object-fit: cover;
  
   } */

   

   .hero-container {
      position: absolute;
      left: 47px;
      top: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1200px;

   }

   .middle {
    padding: 164px 180px 164px 180px;
  }

  .yourd{
    width: 350px;
     }

     .wander{
      width: 350px;
       }

       .gallery-day{
        margin-bottom: 30px;
       }




  .text-cube-lower {
    padding: 65px 47px 65px 47px;
    width: 445px;
    height: 52.5%;
    margin-top: 30px;
  }

   .social-icons{
       margin-left: 280px;
  }
  .lastp{
    font-size:18px;
    line-height: 28px;
    
  }



   /* Desktop Location Page */

  .map-desktop{
    display: block;
  }
  

  .map-tablet {
    display: none;
  }
  
  .map-mobile {
    display: none;
  }

  .location-img {
    position: absolute;
    left: 11%;
    top: 0px;
  }

  

   .right-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 230px;
    left: 950px;
   }

   .middlebox {
    display: flex;
    flex-direction: row;
    padding : 104px 165px 128px 165px;
  }

  .ourloc {
    margin-right: 220px;
  }
  .king99 {
    margin-top: 0px;
  }
  
  .locfooter{
    padding: 80px 165px 80px 165px;
}

.logo {
  width:160px ;
  height: 58px;
  margin-right: 140px;
}



.loclastp{
  margin-top: 0px;
  font-size:18px;
  line-height: 28px;
  
}
.social-icons_loc{
  margin-top: 0px;
  margin-left: 280px;
}



}
